* { margin:0; padding:0; }
h1,h2,h3 { font-size: 100%; font-weight: normal; }
ol,ul { list-style: none; }
img {border: 0;}
html {min-height: 100%;}

html {
	background: #000;
}

body {
	opacity: 0;
	background: #000;
}

.watch {
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: .15s linear opacity;
	-moz-transition: .15s linear opacity;
	transition: .15s linear opacity;
}

.strap {
	fill: #000;
	stroke-width: 2;
}

.button {
	fill: #0f0f0f;
	stroke: #404040;
	stroke-width: 2;
	cursor: pointer;
}
.button:hover {
	fill: #2b2b2b;
	stroke: #5c5c5c;
}
.button:active {
	fill: #050505;
	stroke: #212121;
}

.dial {
	fill: #000;
	stroke: #404040;
	stroke-width: 2;
}

.smallTicks {
	fill: #1a1a1a;
}

.largeTicks {
	fill: #262626;
}

.numbers, .compass, .rotate {
	fill: #fff;
	font-size: 16px;
	line-height: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-anchor: middle;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.numbers text, .compass text{
	opacity: 0;
}

.minute {
	fill: #fff;
}

.hour {
	fill: #fff;
}

.rotate {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #444;
	text-align: center;
}

@media (max-height: 480px) and (min-width: 480px) and (max-width: 600px) { 
	.watch {
		opacity: 0;
	}

	.rotate {
		opacity: 1;
	}
}