* { margin:0; padding:0; }
h1,h2,h3 { font-size: 100%; font-weight: normal; }
ol,ul { list-style: none; }
img {border: 0;}
html {min-height: 100%;}

html {
	stroke-width: 2;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	opacity: 0;
	font-family: 'Metric-Regular', sans-serif;
}

.touched {
	fill: #eee !important;
}

.touchedscreen {
	fill: #eee !important;
}

.watch {
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: .15s linear opacity;
	-moz-transition: .15s linear opacity;
	transition: .15s linear opacity;
}

.strap,
.button {
	fill: #fff;
}

.h1,
.h2 {
	text-anchor: middle;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.h1 {
	fill: #888;
	font-size: 24px;
}

.h2 {
	fill: #aaa;
	font-size: 16px;
}

.frame,
.button .core,
.dial, .ring {
	fill: #fff;
	stroke: #e6e7e8;
	transition: fill .15s linear;
}

.button {
	cursor: pointer;
}

.screen {
	stroke: #000;
	transition: fill .15s linear;
}

.smallTicks,
.largeTicks {
	fill: #e6e7e8;
}

.pie {
	fill: transparent;
	stroke: #00AEEF;
	opacity: .25;
	transition: stroke-dasharray .5s linear, stroke-dashoffset .5s linear;
}

.rose {
	opacity: 0;
	fill: #00AEEF;
}

.numbers,
.compassDial,
.rotate {
	fill: #00AEEF;
	font-size: 14px;
	text-anchor: middle;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.alarm, .timerHand, .zone, .numbers text, .compassDial text, .compassSubdial text, .calendar text, .timerDial text, .timerSubdial text{
	opacity: 0;
}

.calendar {
	fill: #00AEEF;
	font-size: 12px;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.calendar text:nth-child() {
	text-anchor: start; }
.calendar text:nth-child(-n+6) {
	text-anchor: end; }
.calendar text:first-child,
.calendar text:nth-child(7) {
	text-anchor: middle; }

.calendarlabel,
.calendarsetlabel,
.alarmlabel,
.compasslabel,
.savedcompasslabel {
	opacity: 0;
	font-family: 'Metric-Light', sans-serif;
	fill: #00AEEF;
	font-size: 16px;
	text-anchor: middle;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.calendarsetlabel, .alarmlabel {
	font-family: 'Metric-Regular', sans-serif;
}

.alarmlabel {
	font-size: 24px;
}

.compassDial {
	font-size: 18px;
}

.compasslabel {
	font-size: 26px;
}

.savedcompasslabel {
	font-size: 18px;
}

.timerDial {
	fill: #00AEEF;
	font-size: 16px;
	text-anchor: middle;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.timerSubdial {
	fill: #00AEEF;
	font-size: 9px;
	text-anchor: middle;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.compassSubdial {
	fill: #00AEEF;
	font-size: 8px;
	text-anchor: middle;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.minute,
.hour {
	fill: #fff;
	stroke: #000;
	stroke-width: 1.75;
}

.alarm, .timerHand, .compassHand {
	fill: #00AEEF;
}

.zone {
	fill: #fff;
	stroke: #00AEEF;
	stroke-width: 1.75;
}

.black {
	fill: #000;
}

.shadow {
	fill: #000;
	opacity: .125;
}

.interface,
.hands,
.smallTicks,
.largeTicks {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
}

@font-face {
	font-family: 'Metric-Regular';
	src: url('../fonts/Metric-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Metric-Regular.otf') format('opentype'), url('../fonts/Metric-Regular.woff') format('woff'), url('../fonts/Metric-Regular.ttf') format('truetype'), url('../fonts/Metric-Regular.svg#Metric-Regular') format('svg');
	font-weight: normal;
	font-style: normal; }
@font-face {
	font-family: 'Metric-Light';
	src: url('../fonts/Metric-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Metric-Light.otf') format('opentype'), url('../fonts/Metric-Light.woff') format('woff'), url('../fonts/Metric-Light.ttf') format('truetype'), url('../fonts/Metric-Light.svg#Metric-Light') format('svg');
	font-weight: normal;
	font-style: normal; }
@font-face {
	font-family: 'Metric-Medium';
	src: url('../fonts/Metric-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Metric-Medium.otf') format('opentype'), url('../fonts/Metric-Medium.woff') format('woff'), url('../fonts/Metric-Medium.ttf')  format('truetype'), url('../fonts/Metric-Medium.svg#Metric-Medium') format('svg');
	font-weight: normal;
	font-style: normal; }